/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media screen and (min-width: 750px) and (max-width: 1366px) {
  .container {
    max-width: auto;
    margin: 0 10px;
  }
}
@media screen and (max-width: 749px) {
  .container {
    max-width: auto;
    margin: 0 10px;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 749px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.col-1 {
  padding: 0 10px 0 0;
  width: 8.3%;
}
.col-3 {
  padding: 0 10px 0 0;
  width: 25%;
}
.col-4 {
  padding: 0 10px 0 0;
  width: 33.3%;
}
@media screen and (max-width: 749px) {
  .col-4 {
    width: 100%;
    padding: 0;
  }
}
.col-8 {
  padding: 0 10px 0 0;
  width: 66.6%;
}
@media screen and (max-width: 749px) {
  .col-8 {
    width: 100%;
    padding: 0;
  }
}
.col-12 {
  padding: 0 10px 0 0;
  width: 100%;
}
.center {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justified {
  text-align: justify;
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
          box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 22px;
  background: #ffa700;
  height: 3px;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
     transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
          box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
     transition-duration: 0.15s;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffa700;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
      transform: scaleY(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
     transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
  color: #fff;
}
.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
      transform: scaleY(1);
}
/*
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.hamburger.is-active:hover {
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fdfdfd;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
          box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--stand .hamburger-inner {
  -webkit-transition: background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear, -webkit-transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand.is-active .hamburger-inner {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent !important;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0);
          box-shadow: 1px 1px 1px rgba(0,0,0,0);
  -webkit-transition: background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear, -webkit-transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: bottom 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
}
body {
  font-family: 'Arimo', sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  font-size: 18px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
* {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #ffa700;
}
a.post-edit-link {
  color: #ffa700;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alegreya Sans', sans-serif;
}
h5 {
  margin: 1.2em;
  font-size: 1em;
}
button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
button:hover {
  border: 2px solid #ffa700;
}
.btn-blue {
  border: 2px solid #229ad5;
  color: #229ad5;
}
header {
  display: block;
  background-color: #1562a5;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 749px) {
  header {
    display: none;
  }
}
header .logo {
  display: none;
  width: 200px;
  height: 100px;
  border: 1px solid #ffa700;
}
header .burger {
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: fixed;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3), inset 1px 2px 3px rgba(0,0,0,0.3);
          box-shadow: 3px 3px 3px rgba(0,0,0,0.3), inset 1px 2px 3px rgba(0,0,0,0.3);
}
@media screen and (max-width: 749px) {
  header .burger {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}
header nav.desktop {
  margin-left: auto;
}
@media screen and (min-width: 750px) and (max-width: 1366px) {
  header nav.desktop {
    margin-left: 0;
    padding-left: 1em;
  }
}
@media screen and (max-width: 749px) {
  header nav.desktop {
    display: none;
  }
}
header nav.desktop ul.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 20px;
}
header nav.desktop ul.menu li {
  margin-right: 20px;
  line-height: 80px;
  position: relative;
  word-wrap: normal;
}
header nav.desktop ul.menu li:hover .sub-menu {
  display: block;
  top: 60px;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  pointer-events: auto;
  background-color: rgba(21,98,165,0.8);
  -webkit-box-shadow: 0 15px 40px rgba(255,255,255,0.1);
          box-shadow: 0 15px 40px rgba(255,255,255,0.1);
}
header nav.desktop ul.menu li:hover > .left-block {
  background-color: #ffa700;
  -webkit-animation: pulse 1s ease-in-out infinite;
          animation: pulse 1s ease-in-out infinite;
}
header nav.desktop ul.menu li .left-block {
  width: 4px;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: -20px;
  position: absolute;
}
header nav.desktop ul.menu li a {
  color: #fff;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-weight: normal;
}
header nav.desktop ul.menu li a:hover {
  color: #ffa700;
}
header nav.desktop ul.menu li .sub-menu {
  position: absolute;
  display: block;
  pointer-events: none;
  top: 80px;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  list-style-type: none;
  margin: 0;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: rgba(21,98,165,0.3);
  z-index: 101;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header nav.desktop ul.menu li .sub-menu li {
  margin: 0;
  padding: 0 50px 0 0;
  line-height: 2em;
}
header nav.desktop ul.menu li .sub-menu li:hover .sub-menu-2 {
  display: block;
  top: 0em;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  pointer-events: auto;
  background-color: #1562a5;
}
header nav.desktop ul.menu li .sub-menu-2 {
  position: absolute;
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.4);
          box-shadow: 0 5px 30px rgba(0,0,0,0.4);
  display: block;
  pointer-events: none;
  top: 80px;
  left: 50px;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  list-style-type: none;
  margin: 0;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #1d85c3;
  z-index: 102;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 400px;
}
header nav.desktop ul.menu li .sub-menu-2 li {
  margin: 0;
  padding: 0 50px 0 0;
  font-size: 1em;
  line-height: 2em;
}
header nav.desktop ul.menu li .sub-menu-2 li:hover > .left-block {
  background-color: #ffa700;
  -webkit-animation: none;
          animation: none;
}
.hamburger {
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  border: 2px solid transparent;
  z-index: 10000;
}
@media screen and (max-width: 749px) {
  .hamburger {
    display: block;
    top: 2px;
    right: 2px;
  }
}
.hamburger:hover {
  border: 2px solid transparent;
}
nav.mobile {
  display: block;
  width: 80%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -150vw;
  z-index: 100;
  min-width: 250px;
  -khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  -webkit-transition: left 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -o-transition: left 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: left 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@media screen and (max-width: 749px) {
  nav.mobile {
    display: block;
  }
}
nav.mobile .menu {
  list-style-type: none;
}
.visible {
  left: 0 !important;
}
.shadow {
  display: none;
  background-color: #000;
  position: fixed;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 100vw;
  height: 100vh;
  top: 0;
  transiton: opacity 0.4s;
}
@media screen and (max-width: 749px) {
  .shadow {
    display: none;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
}
main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  -webkit-transition: 0.2s -webkit-filter ease-in;
  transition: 0.2s -webkit-filter ease-in;
  -o-transition: 0.2s filter ease-in;
  transition: 0.2s filter ease-in;
  transition: 0.2s filter ease-in, 0.2s -webkit-filter ease-in;
}
section {
  padding: 100px 0px 120px 0px;
}
footer {
  background-color: #1562a5;
  color: #fff;
  padding: 10px;
  height: 80px;
}
.blurred {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.slider,
.slider-single {
  width: 100%;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: rgba(19,84,153,0.3);
}
.bg-light,
.bg-odd,
background-color $white {
  color: #000;
}
.bg-light .image-left,
.bg-odd .image-left,
background-color $white .image-left,
.bg-light .image-right,
.bg-odd .image-right,
background-color $white .image-right {
  border-color: rgba(0,3,150,0.4);
}
@media screen and (max-width: 749px) {
  .bg-light .image-left,
  .bg-odd .image-left,
  background-color $white .image-left,
  .bg-light .image-right,
  .bg-odd .image-right,
  background-color $white .image-right {
    border-color: transparent;
  }
}
.bg-dark,
.bg-even {
  background-color: #1d85c3;
  color: #fff;
}
.bg-dark .image-left,
.bg-even .image-left,
.bg-dark .image-right,
.bg-even .image-right {
  border-color: rgba(255,255,255,0.4);
}
@media screen and (max-width: 749px) {
  .bg-dark .image-left,
  .bg-even .image-left,
  .bg-dark .image-right,
  .bg-even .image-right {
    border-color: transparent;
  }
}
.bg-orange {
  background-color: #ffa700;
  color: #000;
}
.image {
  overflow: hidden;
}
.image img {
  width: 100%;
}
.image-left {
  padding: 0 25px 0 0;
  margin: 0 25px 0 0;
  border-right-width: 2px;
  border-right-style: solid;
}
@media screen and (max-width: 749px) {
  .image-left {
    margin: 0;
    padding: 0;
  }
}
.image-right {
  padding: 0 0 0 25px;
  margin: 0 0 0 25px;
  border-left-width: 2px;
  border-left-style: solid;
}
@media screen and (max-width: 749px) {
  .image-right {
    margin: 0;
    padding: 0;
  }
}
#home .hero {
  position: relative;
  background-color: #1562a5;
  color: #fff;
  padding: 0;
  height: 620px;
}
#home .hero .text {
  text-shadow: 0px 2px 2px #000;
}
#home .hero h5.kafedra {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 190px 0 0 0;
  text-transform: uppercase;
  font-size: 1.35em;
  line-height: 1em;
  letter-spacing: 2.9em;
  text-indent: 2.8em;
}
#home .hero h5.obv {
  margin: -20px 0 0 0;
  padding: 0 0 0 0;
  text-transform: uppercase;
  font-size: 14em;
  line-height: 1em;
}
#home .hero h1.kafedra-fullname {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.35em;
  line-height: 1em;
  word-spacing: 0.45em;
}
#home .hero .buttons {
  padding: 100px 0 0 0;
}
#home .hero .bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-image: url("../img/heroimage2.jpg");
  background-position: top 100px center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#home .hero .bg .colored-overlay {
  width: 100%;
  height: 100%;
  background-color: #1562a5;
  position: absolute;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: 2s opacity ease-in;
  -o-transition: 2s opacity ease-in;
  transition: 2s opacity ease-in;
}
#home .hero .bg .colored-overlay:hover,
#home .hero .bg .colored-overlay:focus {
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#home .hero .bg .clouds {
  pointer-events: none;
  width: 300%;
  height: 200%;
  background-image: url("../img/clouds.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: repeat-x;
  -khtml-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  top: -50%;
  position: absolute;
  -webkit-animation: movingclouds 45s linear infinite;
          animation: movingclouds 45s linear infinite;
}
.stats {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.stats li {
  width: 300px;
}
.stats .stats-number {
  font-size: 3em;
  font-family: 'Alegreya Sans', sans-serif;
  color: #ffa700;
}
.stats .stats-descr {
  font-size: 1.3em;
}
.team li {
  list-style-type: none;
  margin: 0;
  text-align: center;
}
.team .foto img {
  width: 350px;
  height: 400px;
}
.team p {
  margin: 0;
}
.team img {
  display: block;
}
.reviews li {
  text-align: center;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.reviews .foto {
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  width: auto;
}
.reviews .review-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.reviews .name {
  font-weight: bold;
}
.bg-city1 {
  background: url("../img/city2.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  background-color: #1080b7;
  background-blend-mode: soft-light;
}
.bg-city1 h2,
.bg-city1 p {
  color: #fff;
}
.bg-city2 {
  background: url("../img/review.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}
@-webkit-keyframes movingclouds {
  0% {
    margin-left: 0%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    margin-left: -5%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  10% {
    margin-left: -10%;
    -khtml-opacity: 0.05;
    -moz-opacity: 0.05;
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
  70% {
    margin-left: -70%;
    -khtml-opacity: 0.15;
    -moz-opacity: 0.15;
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
  }
  100% {
    margin-left: -100%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes movingclouds {
  0% {
    margin-left: 0%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    margin-left: -5%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  10% {
    margin-left: -10%;
    -khtml-opacity: 0.05;
    -moz-opacity: 0.05;
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
  70% {
    margin-left: -70%;
    -khtml-opacity: 0.15;
    -moz-opacity: 0.15;
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
  }
  100% {
    margin-left: -100%;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
#page {
  display: block;
}
#page header {
  background-color: rgba(21,98,165,0.3);
  position: absolute;
  z-index: 10;
}
#page main {
  position: relative;
}
#page .hero {
  height: -webkit-calc(200px + 100px);
  height: calc(200px + 100px);
  padding-top: 130px;
  color: #fff;
  text-transform: uppercase;
  background-color: #1562a5;
}
@media screen and (max-width: 749px) {
  #page .hero {
    padding-top: 1px;
    padding-bottom: 0;
    height: auto;
  }
}
#page section {
  padding: 100px 0px 100px 0px;
}
@media screen and (max-width: 749px) {
  #page section {
    padding: 20px 0px 20px 0px;
  }
}
#page section h2 {
  text-align: left;
}
#page section.map {
  width: 100vw;
  height: 350px;
  padding: 0;
  position: absolute;
  bottom: 0;
}
@-webkit-keyframes pulse {
  0% {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  100% {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  100% {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
